{{define "content"}}
<div class="container">
    <div class="content-wrap">
        <div class="content">
            <header class="article-header">
                <h1 class="article-title"><a href="">{{.page.Title}}</a></h1>

            </header>

            <article class="article-content">
                <div id="test-editormd-view2">
                    <textarea id="append-test" style="display:none;">{{.page.Content}}</textarea>
                </div>

            </article>
            <div id="gitalk-container" class="article-comment"></div>
        </div>

    </div>
</div>
{{end}}